---
import infoData from '../data/info.json';
const { about } = infoData;

import skillsData from '../data/skills.json';
const { skills } = skillsData;
---

<section id="about" class="py-12 section md:pb-24 scroll-m-20 w-5/6 mx-auto container lg:max-w-6xl md:max-w-2xl">
        
    <h2 class="text-3xl font-semibold mb-8">
          About me
    </h2>

    <div class="flex flex-wrap md:w-full items-center md:justify-between mb-8">
        <p class="md:w-3/6 text-xl text-zinc-200 [&>strong]:text-indigo-500">
                {about.description}
        </p>
        <div class="mt-8 md:mt-0 flex flex-col gap-2 dark:text-white max-w-md md:w-3/6 dark:bg-opacity-25">
            
            <h3 class="text-2xl font-medium text-zinc-200">
                Education
            </h3>

            <div class="text-xl text-zinc-200">
                {about.education}
            </div>

            <div class="mt-3 flex flex-row justify-start text-zinc-200">
                <p class="text-lg">Expected Graduation in June, 2026</p>
            </div>

        </div>
    </div>

    <h2 class="text-2xl font-semibold py-10">
        Skill and Tools
    </h2>
    <div class="grid grid-cols-2 md:grid-cols-6 lg:grid-cols-8 gap-1">
        {skills.map((skill) => (

            
                <div class="py-4 w-full text-center flex flex-col items-center group hover:scale-[1.25]">
                    <img src={skill.svg} class="h-16 w-16 space-x-3 mb-3 md:filter md:grayscale group-hover:filter-none transition-all drop-shadow-lg hover:drop-shadow-2xl shadow-secondary" alt={skill.name}/>
                    <span class="text-md font-medium text-zinc-200 md:opacity-0 group-hover:opacity-100 transition-opacity">{skill.name}</>
                </div>

        ))}
    </div>
</section>