---
interface Props {
	title: string;
  description?: string;
  ogImage?: string;
}

const { 
  title,
  description,
  ogImage = "/favicon.svg" // Add a default social sharing image
} = Astro.props;

import '@fontsource-variable/rubik';

import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';



const canonicalURL = new URL(Astro.url.pathname, Astro.site);

---

<!doctype html>
<html lang="en">
  <head>

    
    <!-- Essential Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />
    
    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="/public/favicon.svg" />

    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={ogImage} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={ogImage} />

    <!-- Keywords -->
    <meta name="keywords" content="software developer, C#, .NET, Angular, web development, full stack developer" />

    <!-- Additional SEO tags -->
    <meta name="author" content="César Alexander" />
    <meta name="robots" content="index, follow" />
    
    <title>{title}</title>


  </head>
	<body>
		<div class="relative min-h-screen w-full">
			<div class="absolute inset-0 bg-gradient-to-tl from-primary from-10% via-zinc-950 via-50% to-neutral-950 to-80%">
			</div>
				<div class="relative">
          <Header />
          <slot />
          <Footer />
				</div>
		</div>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: dark light;
	}
	html {
		font-family: 'Rubik Variable', sans-serif;
		justify-content: center;
    scroll-behavior: smooth;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}


</style>
